# My Jupyter Notebook on IBM Watson Studio

**Yaxuan XUE**   
Data analyst

*I am interested in Data Science because I find it exciting to build regression models to predict the future.*

### My code is to display the grades of my friends and sort in a descending order according to their grade

In [13]:
import pandas as pd
grades = pd.DataFrame({"Name":['Chloe','Daniel','Tommy','Zack','Josh'],'Grade':[79,97,88,76,99]})
print(grades)
grades.sort_values(by = 'Grade', ascending = False)

     Name  Grade
0   Chloe     79
1  Daniel     97
2   Tommy     88
3    Zack     76
4    Josh     99

     Name  Grade
4    Josh     99
1  Daniel     97
2   Tommy     88
0   Chloe     79
3    Zack     76

1. A
2. B
3. C

[Youtube](https://www.youtube.com/)

|Col1   |Col2   |Col3   |
|-------|:-----:|------:|
|Red    |Green  |Blue   |
|Good   |Fair   |Bad    |